<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head') %>
<body>
    <header>
        <div class="title-header">
            <h1 class="title">THEME PARK TRACKER </h1>
            <h3 class="title" id="title-subtitle">THRILL SEEKERS WELCOME.</h3>
        </div>
    </header>
    <%-include('./partials/nav')%>
    <br>
    <div class="container">
        <% parks.forEach(park => { %>
            <div class="park">
                <a href="/parks/<%= park._id; %>">
                <img src="<%= park.img; %>" alt="" class="index-img">
                <br>
                 <%= park.name %>
                </a>
                <br>
            </div>
        <% }) %>
    </div>
    <a href="/parks/new" class="add-new">
        <button>
                ADD NEW PARK 
        </button>   
    </a>
    <br>
    <br>
</body>
<footer>
    <p>©Thrill Seekers United</p>
</footer>
</html>