<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <%-include('./partials/header')%>
    <%- include('./partials/nav') %>
        
        <h1>Login</h1>
        <% if (error) { %>
            <p class="signon-error"><%= error %></p>
        <% } %>
        <div class="login-form">
            <form action="/login" method="POST" autocomplete="off">
                <label>
                    Email: 
                    <input type="email" name="email" required>
                </label>
                
                <label>
                    Password:
                    <input type="password" name="password" required>
                </label>
                <br><br>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
</body>
<%- include('./partials/footer') %>
</html>