<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <%-include('./partials/header')%>
    <%- include('./partials/nav') %>

    <div class="show-container">

        <div class="side">
            <a href="/parks">
                <button>
                Back to All Parks
                </button>
            </a>
            <br>
            <br>
            <img src="<%= park.img; %>" alt="" class="show-pic">
            <br>
            <br>
            <a href="/parks/<%= park._id %>/edit" class="edit">
                <button>
                    Edit
                </button>
            </a>
            
           
            <form action="/parks/<%= park._id %>?_method=DELETE" method="POST" class="delete">
                <input type="submit" class="btn" value="Delete">
            </form>
        </div>
        
        <div class="info">
            <h1 class="park-info"><%= park.name %> </h1>
            <h2 class="park-info"> <%= park.location %></h2> 
            <h3 class="park-desc">ABOUT: </h3>
            <p class="desc"><%= park.description %></p>
        </div>

        <div class="comments">
            <h1>Comment Below:</h1>
            <hr>
            <p><% park.comment.forEach(parkComment => { %>
                <p  class="park-comment"><%= parkComment.comment %></p>
                <!-- <form action="/parks/<%= park._id %>/like?_method=PUT" method="POST">
                    <input type="submit" value="LIKE">
                </form> -->
                <hr>
            <% }) %></p>
            <form action="/parks/<%= park._id %>/comments?_method=PUT" method="POST">
                <textarea name="comment" cols="30" rows="1"></textarea><br><br>
                <input type="submit" class="btn" value="Add comment">
            </form>

            
        </div>
       
    </div>
    <div class="footer">
            ©Thrill Seekers United
    </div>
</body>

</html>