<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <header>
        <div class="title-header">
            <h1 class="title">THEME PARK TRACKER </h1>
            <h3 class="title">THRILL SEEKERS WELCOME.</h3>
        </div>
    </header>
    <%- include('./partials/nav') %>

    <div class="show-container">

        <div class="side">
            <a href="/parks">
                <button>
                BACK TO ALL PARKS
                </button>
            </a>
            <br>
            <br>
            <img src="<%= park.img; %>" alt="" class="show-pic">
            <br>
            <br>
            <a href="/parks/<%= park._id %>/edit" class="edit">
                <button>
                    EDIT
                </button>
            </a>
            
           
            <form action="/parks/<%= park._id %>?_method=DELETE" method="POST" class="delete">
                <input type="submit" class="btn" value="DELETE">
            </form>
        </div>
        
        <div class="info">
            <h1 class="park-info"><%= park.name %> </h1>
            <h2 class="park-info"> <%= park.location %></h2> 
            <h3 class="park-desc">ABOUT: </h3>
            <p class="desc"><%= park.description %></p>
        </div>

        <div class="comments">
            <h1>COMMENTS:</h1>
            <hr>
            <p><% park.comment.forEach(parkComment => { %>
                <p  class="park-comment"><%= parkComment.comment %></p>
                <hr>
            <% }) %></p>
            <form action="/parks/<%= park._id %>/comments?_method=PUT" method="POST">
                <textarea name="comment" cols="30" rows="1"></textarea><br><br>
                <input type="submit" class="btn" value="add comment">
            </form>
        </div>
    </div>
    <footer>
        <p>©Thrill Seekers United</p>
    </footer>
</html>